---
layout: layouts/default.njk
title: Tensil Abaca Fiber Tiles
description: The most sustainable acoustic panel ever made. Manufactured using abaca fiber harvested from the hinterlands of Catanduanes, Philippines.
---

{% include 'partials/_hero.njk' %}
{% include 'partials/_order-now.njk' %}