<section class="flex flex-col md:flex-row md:items-stretch">
  <img src="/images/fibers.jpg" class="h-52 w-screen md:w-1/4 md:h-auto object-cover"/>
  <div class="pt-8 pb-10 px-4 flex-grow flex-col text-center">
    <img src="/images/tensil-10.svg" class="w-40 lg:w-48 mx-auto"/>
    <h1 class="text-6xl font-heading mt-4 mb-6">
      Abaca Fiber Tiles
    </h1>
    <h2 class="text-2xl mb-6">
      The <span class="font-bold">most sustainable</span><br/>
      acoustic panel ever made
    </h2>
    <button class="py-4 px-7 rounded-full bg-orange text-gray-100 font-heading"
      onClick="smoothScroll('order-now')">
      ORDER NOW
    </button>
  </div>
  <img src="/images/tiles.png" class="h-52 w-screen md:w-1/4 md:h-auto object-cover"/>
</section>