<section class="px-8 py-16 flex-col text-center">
  <img src="/images/tensil-10.svg" class="w-48 mx-auto"/>
  <h1 class="text-7xl font-heading mt-4 mb-16">
    Abaca Fiber Tiles
  </h1>
  <h2 class="text-3xl">
    The <span class="font-bold">most sustainable</span><br/>
    acoustic panel ever made
  </h2>
</section>