<nav class="hidden md:block
  bg-mint-cream text-black-olive shadow-md sticky top-0 z-10">
  <div class="max-w-screen-xl md:flex flex-row justify-between items-center md:py-4 md:px-8 mx-auto">
    <div>
      <a class="cursor-pointer" onClick="smoothScroll('top')"><img src="/images/tensil-09.svg" class="h-8 mx-auto"/>
    </div>
    <ul class="flex flex-row font-heading">
      <li class="mx-3"><a class="cursor-pointer hover:underline underline-offset-4 decoration-4 decoration-tensil-green transition" onClick="smoothScroll('why-use')">Why TENSIL</a></li>
      <li class="mx-3"><a class="cursor-pointer hover:underline underline-offset-4 decoration-4 decoration-tensil-green transition" onClick="smoothScroll('use-on')">Uses of TENSIL</a></li>
      <li class="mx-3"><a class="cursor-pointer hover:underline underline-offset-4 decoration-4 decoration-tensil-green transition" onClick="smoothScroll('order-now')">Order TENSIL</a></li>
      <li class="mx-3"><a class="cursor-pointer hover:underline underline-offset-4 decoration-4 decoration-tensil-green transition" onClick="smoothScroll('faqs')">FAQs</a></li>
    </ul>
  </div>
</nav>