<nav class="hidden
  md:flex flex-row justify-between md:py-4 md:px-8 bg-tensil-green text-mint-cream shadow-md sticky top-0 z-10">
  <div>&nbsp;</div>
  <ul class="flex flex-row font-heading">
    <li class="mx-3"><a class="cursor-pointer hover:underline underline-offset-4 decoration-2 transition" onClick="smoothScroll('why-use')">Why TENSIL</a></li>
    <li class="mx-3"><a class="cursor-pointer hover:underline underline-offset-4 decoration-2 transition" onClick="smoothScroll('use-on')">Uses of TENSIL</a></li>
    <li class="mx-3"><a class="cursor-pointer hover:underline underline-offset-4 decoration-2 transition" onClick="smoothScroll('order-now')">Order TENSIL</a></li>
    <li class="mx-3"><a class="cursor-pointer hover:underline underline-offset-4 decoration-2 transition" onClick="smoothScroll('faqs')">FAQs</a></li>
  </ul>
</nav>