<section class="p-10 bg-dark-green text-mint-cream text-center">
  <h2 class="text-3xl font-heading mb-4">Order now!</h2>
  <p class="mx-auto mb-4 rounded-full bg-mint-cream border-orange border-8 w-16 h-16"></p>
  <p class="mb-2 font-bold text-xl">{{ contact.name }}</p>
  <p>{{ contact.email }}</p>
  <p class="mb-2">{{ contact.phone }}</p>
  {% if contact.fb.url %}
  <p><a href="{{ contact.fb.url }}">{{ contact.fb.pageName }}</a></p>
  {% endif %}
</section>