<section class="grid grid-cols-1 lg:grid-cols-3">
  <img src="/images/diamond-tiles.jpg" class="h-52 lg:h-full w-screen object-cover"/>
  <div class="px-8 py-12 max-w-screen-lg mx-auto bg-light-green w-full text-mint-cream">
    <h2 class="text-3xl font-heading mb-8 mx-8 text-center">Use it on:</h2>
    <ul class="max-w-sm mx-auto">
      {% for item in useItOn %}
      <li class="mb-2 flex flex-start items-center"><img src="/images/check.svg" class="w-8 mx-4"/>
        {{ item }}
      </li>
      {% endfor %}
      <li class="mt-4 italic text-lg text-center">...and many more!</li>
    </ul>
  </div>
  <img src="/images/living-room-tiles.png" class="h-52 lg:h-full w-screen object-cover"/>
</section>