<section class="px-8 py-12">
  <a id="why-use"></a>
  <h2 class="text-3xl font-heading mb-8 mx-8 text-center">Why use TENSIL Abaca Fiber Tiles?</h2>
  <div class="max-w-screen-lg grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 mx-auto">
    {% for item in whyUse %}
    <div class="flex flex-col">
      <img src="/images/icon-{{ item.icon }}.svg" class="w-16 lg:w-20 mx-auto"/>
      <h3 class="text-xl font-heading mb-4 mx-auto">{{ item.reason }}</h3>
      <p class="mb-2">{{ item.description | safe }}</p>
    </div>
    {% endfor %}
  </div>
</section>