@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&family=Outfit:wght@500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Menu transitions */

#main-menu {
  transition-property: max-height;
  transition-duration: .2s;
  transition-timing-function: ease-in;
}
.expanded {
  max-height: 200px;
  transition-property: max-height;
  transition-duration: .2s;
  transition-timing-function: ease-in;
}